 <div class="login">
    <form class="form" [formGroup]="loginform" (ngSubmit)="submit()">

        <input type="text" placeholder="Enter Your UserName" [formControlName]="'username'" >
        <small style="color: red;" *ngIf="loginform.get('username')?.invalid&& loginform.get('username')?.touched" >enter the username</small>
        <input type="text" placeholder="Enter Your Password"  [formControlName]="'password'">
        <small style="color: red;" *ngIf="loginform.get('password')?.invalid&& loginform.get('password')?.touched" >enter the username</small>
        <button type="submit"  >login</button>
    </form>
 </div>